amqp==5.0.1
Babel==2.8.0
billiard==3.6.3.0
boto3==1.17.53
botocore==1.20.53
braintree==3.59.0
cairocffi==1.2.0
CairoSVG==2.5.2
celery==5.0.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cssselect2==0.4.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==2.2
django-storages==1.11.1
flower==0.9.3
gunicorn==20.0.4
html5lib==1.1
idna==2.10
jmespath==0.10.0
kombu==5.0.2
Pillow==7.2.0
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
pycparser==2.20
Pyphen==0.10.0
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
redis==3.5.3
requests==2.25.1
s3transfer==0.3.7
six==1.15.0
sqlparse==0.3.1
tinycss2==1.1.0
tornado==5.1.1
urllib3==1.25.11
vine==5.0.0
wcwidth==0.2.5
WeasyPrint==52.1
webencodings==0.5.1
whitenoise==5.2.0
